body {
    /* --BACKGROUND: #161925; */
    --BACKGROUND: #0E1116;
    /* --BACKGROUND: #171D1C; */
    /* --BACKGROUND: #02111B; */
    --FONT-COLOR: white;
    /* --BACKGROUND-COLORED: #2D3047; */
    --BACKGROUND-COLORED: #392B58;
    /* --CTA: #EA526F; */
    --CTA: #645E9D;
    --CTA-LIGHT: #E76B74;
    --LINK: #9ca9ff;
    --LINK-HOVER: #8d9aff;
    --LINK-UNDERLINE: #a4aaff;
    --GREY-LIGHT: #c4cfdb;
    --GREY: #aaaaaa;
}
body.light {
    /* --BACKGROUND: #161925; */
    --BACKGROUND: #F7D6E0;
    /* --BACKGROUND: #171D1C; */
    /* --BACKGROUND: #02111B; */
    --FONT-COLOR: #376973;
    /* --BACKGROUND-COLORED: #2D3047; */
    --BACKGROUND-COLORED: #F2B5D4;
    /* --CTA: #EA526F; */
    --CTA: #645E9D;
    --CTA-LIGHT: #E76B74;
    --LINK: #9ca9ff;
    --LINK-HOVER: #8d9aff;
    --LINK-UNDERLINE: #a4aaff;
    --GREY-LIGHT: #c4cfdb;
    --GREY: #aaaaaa;
}

body {
    background-color: var(--BACKGROUND);
    color: var(--FONT-COLOR);
    font-family: 'Parkinsans', 'Times New Roman';
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
    transition: grid-template-columns 0.5s ease;
}
header .headerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}
header .headerLeft h1 {
    font-size: 2.5rem;
    text-align: center;
}
header .headerRight {
    display: flex; 
    flex-direction: column;
    line-height: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--BACKGROUND-COLORED);
    flex: 1;
}
header .headerRight p {
    font-size: 1rem;
    text-align: center;
    margin: 0;
}
header .headerRight .svgs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    position: absolute;
    transform: translateX(-16vw);
}
header .headerRight svg {
    rotate: -90deg;
    
    aspect-ratio: 1/1;
    g {
        fill: var(--BACKGROUND-COLORED);
    }
    width: 10vw;
    height: auto;
    transition: all 0.5s ease;
}

header .headerRight svg:nth-child(2) {
    rotate: 90deg;
    transform: translateY(-6vw);
    g{
        fill: var(--BACKGROUND);
        
    }
}

header.expanded {
    grid-template-columns: 1fr 2.5fr;
}
header.expanded .headerRight svg {
    transform: translateY(-22vw);
}
header.expanded .headerRight svg:nth-child(2) {
    transform: translateY(16vw);
    rotate: 90deg;
}
.headerRight span {
    font-size: 4rem;
    user-select: none;
    justify-self: center;
    align-self: center;
}
body .headerRight span::after{
    content: '';
    background-image: url('moon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    top: -5rem;
    right: -9rem;
    
}
body.light .headerRight span::after{
    background-image: url('sun.svg');
}

header .headerLeft .expanded{
    display: none;
}
header .headerLeft h1.notexpanded {
    display: block;
}
header.expanded .headerLeft .expanded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    padding: 0;
}
header.expanded .headerLeft h1.notexpanded {
    display: none;
}
header .headerLeft h1 {
    user-select: none;
}
header.expanded .headerRight .theme {
    transform: scale(1.5);
    transition: transform 0.5s ease;
}
header .headerRight .theme {
    transition: transform 0.5s ease;
}

