/* Setting up colors */

body { /* This is the dark theme */
    --BACKGROUND: #0E1116;
    --FONT-COLOR: white;
    --BACKGROUND-COLORED: #392B58;
    --CTA: #645E9D;
    --CTA-LIGHT: #E76B74;
    --LINK: #9ca9ff;
    --LINK-HOVER: #8d9aff;
    --LINK-UNDERLINE: #a4aaff;
    --GREY-LIGHT: #c4cfdb;
    --GREY: #aaaaaa;
}

body.light { /* This is the light theme */  
    --BACKGROUND: #F7D6E0;
    --FONT-COLOR: #376973;
    --BACKGROUND-COLORED: #F2B5D4;
    --CTA: #645E9D;
    --CTA-LIGHT: #E76B74;
    --LINK: #9ca9ff;
    --LINK-HOVER: #8d9aff;
    --LINK-UNDERLINE: #a4aaff;
    --GREY-LIGHT: #905577;
    --GREY: #aaaaaa;
}

body { 
    background-color: var(--BACKGROUND);
    color: var(--FONT-COLOR);
    font-family: 'Parkinsans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
    transition: grid-template-columns 0.5s ease;
}

/* Left side */

header .headerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

header .headerLeft h1 {
    font-size: 2.5rem;
    text-align: center;
    user-select: none;
}

/* Right side */

header .headerRight {
    display: flex; 
    flex-direction: column;
    line-height: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--BACKGROUND-COLORED);
    flex: 1;
}

header .headerRight p {
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

header .headerRight .theme {
    cursor: pointer;
    /* border: 0.5px solid var(--GREY-LIGHT); */
    /* padding: 4.5rem 2rem 2rem 2rem; */
    /* border-radius: 0.5rem; */
}

.headerRight span {
    font-size: 4rem;
    user-select: none;
    justify-self: center;
    align-self: center;
}

.headerRight span::after{
    content: '';
    background-image: url('moon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    top: -5rem;
    right: -9rem;
}

/* Paws */

header .headerRight .svgs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    position: absolute;
    transform: translateX(-16vw);
}

header .headerRight svg {
    rotate: -90deg;
    aspect-ratio: 1/1;
    width: 10vw;
    height: auto;
    transition: all 0.5s ease;
    g {
        fill: var(--BACKGROUND-COLORED);
    }
}

header .headerRight svg:nth-child(2) {
    rotate: 90deg;
    transform: translateY(-6vw);
    g{
        fill: var(--BACKGROUND);
        
    }
}

/* Light mode */

body.light .headerRight span::after{
    background-image: url('sun.svg');
}

/* Expanded header */

header .headerLeft .expanded{
    display: none;
}
header .headerLeft h1.notexpanded {
    display: block;
}
header.expanded .headerLeft .expanded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    padding: 0;
}
header.expanded .headerLeft h1.notexpanded {
    display: none;
}
header .headerLeft h1 {
    user-select: none;
}
header.expanded .headerRight .theme {
    transform: scale(1.5);
    transition: transform 0.5s ease;
}
header .headerRight .theme {
    transition: transform 0.5s ease;
}

header.expanded {
    grid-template-columns: 1fr 2.5fr;
}
header.expanded .headerRight svg {
    transform: translateY(-22vw);
}
header.expanded .headerRight svg:nth-child(2) {
    transform: translateY(16vw);
    rotate: 90deg;
}

/* Burger */

.burger {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
